/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: #fff;
  --black-color: hsl(210, 12%, 15%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(210, 24%, 8%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
}
@media screen and (min-width: 1024px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

body::-webkit-scrollbar {
  width: 1.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}
 
body::-webkit-scrollbar-thumb {
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
}

a {
  text-decoration: none;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 5vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 9;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
 0% {
-webkit-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-webkit-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@-moz-keyframes fade_move_down {
 0% {
-moz-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-moz-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@keyframes fade_move_down {
 0% {
transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}


@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

section {
	display: flex;
	background: #000;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}



/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
}

.card__container, .card__article {
  display: grid;
  gap: 2rem;
}
.card__container {
  padding-block: 4.5rem;
}
.card__article {
  --hue-1: 210;
  --hue-2: 238;
  position: relative;
  justify-items: center;
  color: var(--white-color);
  text-align: center;
  padding: 4rem 2rem 3rem;
  border: 4px solid transparent;
  background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
  border-radius: 1.25rem;
  overflow: hidden;
}
.card__shape-1 {
  position: relative;
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 75%, 25%) 3%, hsl(var(--hue-2), 65%, 45%) 100%);
  border-radius: 2rem;
  z-index: 2;
}
.card__shape-2 {
  width: 116px;
  height: 116px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 1.5rem;
}
.card__shape-3 {
  width: 76px;
  height: 76px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 85%, 60%) 3%, hsl(var(--hue-2), 85%, 60%) 100%);
  border-radius: 1rem;
  display: grid;
  place-items: center;
}
.card__shape-2, .card__shape-3 {
  position: absolute;
  inset: 0;
  margin: auto;
}
.card__icon {
  font-size: 3rem;
}
.card__data {
  z-index: 3;
}
.card__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.card__description {
  margin-bottom: 1.5rem;
}
.card__button {
  display: inline-block;
  background-color: var(--white-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--black-color);
  font-weight: 500;
}
.card__orange {
  --hue-1: 300;
  --hue-2: 30;
}
.card__green {
  --hue-1: 180;
  --hue-2: 50;
}

.card__eblue {
  --hue-1: 180;
  --hue-2: 330;
}

.card__goblin {
  --hue-1: 120;
  --hue-2: 288;
}

.card__gold {
  --hue-1: 43;
  --hue-2: 270;
}

.card__crimson {
  --hue-1: 197;
  --hue-2: 348;
}

.card__coral {
  --hue-1: 174;
  --hue-2: 6;
}

.card__slate {
  --hue-1: 72;
  --hue-2: 215;
}

.card__indigo {
  --hue-1: 240;
  --hue-2: 16;
}

.card__amber {
  --hue-1: 45;
  --hue-2: 215;
}

.card__onyx {
  --hue-1: 0;
  --hue-2: 210;
}

.card__scale-1 {
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 2rem;
  top: 4rem;
}
.card__scale-2 {
  width: 116px;
  height: 116px;
  background: var(--container-color);
  border-radius: 1.5rem;
  top: 5rem;
}
.card__scale-1, .card__scale-2 {
  position: absolute;
  filter: blur(24px);
  transition: transform 0.3s ease-in;
}
.card__article:hover .card__scale-1 {
  transform: scale(6);
}
.card__article:hover .card__scale-2 {
  transform: scale(6);
  transition-delay: 0.1s;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
  .card__article {
    padding: 2rem 1rem;
  }
  .card__scale-1 {
    top: 2rem;
  }
  .card__scale-2 {
    top: 3rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .card__container {
    grid-template-columns: 328px;
  }
}
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 328px);
  }
}
/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }
  .card__container {
    grid-template-columns: repeat(3, 345px);
  }
  .card__article {
    padding: 4.5rem 2rem 3.5rem;
  }
}
